CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
CONFIG_SYSTEM_EVENT_TASK_STACK_SIZE=8192
CONFIG_PTHREAD_TASK_STACK_SIZE=8192
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=16384
CONFIG_TASK_WDT=n

# Workaround for https://github.com/espressif/esp-idf/issues/7631
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=n

# Workaround for the experimental HTTP(S) TLS client demo
CONFIG_ESP_TLS_INSECURE=y
CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y

# Stuff I added
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y # Don't change this
CONFIG_LOG_DEFAULT_LEVEL_INFO=y # Adjust this as needed
